<section class="footer-section sub-title slide-in-fwd-center">
    <p><span>Helpful links:</span></p>
    <div class="links">
        <p><a target="_blank" href="https://github.com/arthas168/Decentralized-Voting-Web-App"><i class="fab fa-github"></i><span>DeVote web app source code (truffle project)</span></a>
        </p>
        <p><a target="_blank"
              href="https://raw.githubusercontent.com/arthas168/Decentralized-Voting-Web-App/master/contracts/Voting.sol"><i class="fas fa-code"></i><span>Raw smart contract code</span></a>
        </p>
        <p><a target="_blank" href="https://www.coindesk.com/information/ethereum-smart-contracts-work"><i class="fas fa-book"></i><span>How do Ethereum smart contracts work</span></a>
        </p>
    </div>
</section>