<nav class="main-nav slide-in-fwd-center">
    <ul>
        <li>
            <a href="{{site.baseurl}}"><img src="../images/positive-vote-logo.png" height="64" width="64" alt="thumbs-up-icon"/>
            </a>
        </li>
        {% for navitem in site.pages %}
        {% if navitem.url != '/feed.xml' and navitem.url != '/' %}
        <li {% if page.url == navitem.url %} class="current-page" {% endif %}>
            <a href="{{ site.baseurl }}{{ navitem.url }}">
                <span class="title">{{ navitem.title }}</span>
            </a>
        </li>
        {% endif %}
        {% endfor %}
    </ul>
</nav>