body {
  background: var(--color-main-bgrd);
  width: 90%;
  margin: 0 auto; }

* {
  padding: 0;
  margin: 0; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

/* Typography */
html {
  font: var(--sizing-fs-base)/1.5 "Georgia", serif; }

@media (min-width: 600px) {
  html {
    font-size: var(--sizing-fs-tablet); } }

@media (min-width: 1260px) {
  html {
    font-size: var(--sizing-fs-laptop); } }

@media (min-width: 1420px) {
  html {
    font-size: var(--sizing-fs-desktop); } }

@media (min-width: 1660px) {
  html {
    font-size: var(--sizing-fs-huge); } }

p, ul, ol, dl, table {
  margin-bottom: var(--sizing-ws-base); }

ul, ol {
  padding-left: var(--sizing-ws-base); }

h1, h2, h3 {
  margin: 0 0 calc( var(--sizing-ws-base) / 3) 0; }

nav.main-nav {
  font-size: 18px;
  padding-top: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  nav.main-nav ul {
    width: 55%;
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    nav.main-nav ul li {
      list-style: none; }
      nav.main-nav ul li a {
        padding: 1rem 2.5rem;
        text-decoration: none;
        vertical-align: center;
        border-bottom: 1.5px solid white;
        border-top: 1.5px solid white;
        text-align: center; }
        nav.main-nav ul li a:hover {
          border-color: #419D78; }
      nav.main-nav ul li:nth-child(1) {
        margin-top: -1.5rem; }
        nav.main-nav ul li:nth-child(1) a {
          border: none;
          padding: 0; }
        nav.main-nav ul li:nth-child(1) span {
          color: #419D78;
          font-weight: bold; }
        nav.main-nav ul li:nth-child(1) img:nth-child(2) {
          display: none; }
  nav.main-nav a, nav.main-nav span {
    color: white; }

:root {
  --color-main-bgrd: linear-gradient(to right, #2C5364, #203A43, #0F2027);
  --sizing-fs-base: 12px;
  --sizing-ws-base: 1.5em;
  --sizing-lt-base: 3em;
  --sizing-fs-tablet: 14px;
  --sizing-fs-laptop: 16px;
  --sizing-fs-desktop: 18px;
  --sizing-fs-huge: 20px; }

.countdown-timer, .start-btn-div, .calculating-result-div, .resetting-div, .vote-ended-div {
  background-color: #419D78;
  color: white;
  font-size: 20px;
  text-align: center;
  padding: .5rem; }

.vote-ended-div {
  background-color: black; }
  .vote-ended-div:hover {
    cursor: pointer; }

.calculating-result-div {
  background-color: red; }

.start-btn-div span {
  border: 2px solid white;
  cursor: pointer;
  padding: .75rem; }
  .start-btn-div span:hover {
    border: 2px solid #419D78;
    background-color: white;
    cursor: pointer;
    color: #419D78; }

.candidates-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 95%;
  justify-content: space-between;
  margin: 1.5rem auto 0; }
  .candidates-list img {
    width: 36rem;
    height: 26rem;
    box-shadow: #0F2027; }
  .candidates-list section {
    position: relative; }
  .candidates-list button {
    width: 15rem;
    padding: 1rem 2rem;
    border-radius: 0.25rem;
    border-style: none;
    position: absolute;
    left: 3rem;
    top: 14.5rem;
    box-shadow: darkgray; }
    .candidates-list button:hover {
      cursor: pointer; }
      .candidates-list button:hover:before {
        content: "Vote";
        cursor: pointer;
        color: white;
        font-weight: bold;
        font-size: 18px; }
    .candidates-list button:hover span {
      display: none; }
    .candidates-list button span {
      color: white;
      font-size: 18px; }
  .candidates-list section:nth-child(1) button {
    background: red;
    border: 2px solid white; }
    .candidates-list section:nth-child(1) button:hover {
      background: red; }
  .candidates-list section:nth-child(2) button {
    background: dodgerblue;
    border: 2px solid white; }
    .candidates-list section:nth-child(2) button:hover {
      background: dodgerblue; }

.confirmation-div, .vote-done-div, .winner-div {
  width: 20rem;
  height: 10rem;
  background: #10232A;
  padding: 2rem;
  flex-direction: column;
  text-align: center;
  border: 2px solid #419D78;
  position: absolute;
  z-index: 10;
  left: 32rem;
  top: 13rem; }
  .confirmation-div span:nth-child(1), .vote-done-div span:nth-child(1), .winner-div span:nth-child(1) {
    font-size: 18px;
    display: block;
    margin-bottom: 2rem;
    color: white; }
  .confirmation-div span:nth-child(2), .vote-done-div span:nth-child(2), .winner-div span:nth-child(2) {
    text-decoration: underline;
    margin-right: 2rem;
    color: white;
    font-size: 16px; }
    .confirmation-div span:nth-child(2):hover, .vote-done-div span:nth-child(2):hover, .winner-div span:nth-child(2):hover {
      cursor: pointer; }
  .confirmation-div span:nth-child(3), .vote-done-div span:nth-child(3), .winner-div span:nth-child(3) {
    color: white;
    text-decoration: underline;
    margin-left: 2rem;
    font-size: 16px; }
    .confirmation-div span:nth-child(3):hover, .vote-done-div span:nth-child(3):hover, .winner-div span:nth-child(3):hover {
      cursor: pointer; }

.winner-div {
  width: 20rem;
  height: 13rem; }
  .winner-div span:nth-child(2) {
    text-decoration: underline;
    color: white;
    font-size: 16px;
    margin-top: -2rem; }
    .winner-div span:nth-child(2):hover {
      cursor: pointer; }

.vote-done-div {
  font-size: 26px; }
  .vote-done-div span {
    margin-top: 1.5rem; }

/*body {
  opacity:    0.2;
  background: #000;
}*/
