@keyframes slide-in-left {
  0% {
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-fwd-center {
  0% {
    transform: translateZ(-1400px);
    opacity: 0;
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}

@keyframes slide-in-bottom {
  0% {
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes text-focus-in {
  0% {
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}


.text-focus-in {
  animation: text-focus-in 1s ease-in both;
}

.slide-in-bottom {
  animation: slide-in-bottom 0.6s both;
}

.slide-in-left {
  animation: slide-in-left 1s linear both;
}

.slide-in-fwd-center {
  animation: slide-in-fwd-center 1s linear both;
}