@import 'info-bars';

.candidates-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  width: 96%;
  margin: 1.5rem auto 0;

  img {
    width: 36rem;
    height: 26rem;
    box-shadow: #0F2027;
  }

  section {
    position: relative;
  }

  button {
    width: 15rem;
    padding: 1rem 2rem;
    border-radius: 0.25rem;
    border-style: none;
    position: absolute;
    left: 3rem;
    top: 14.5rem;
    box-shadow: darkgray;

    &:hover {
      cursor: pointer;

      &:before {
        content: "Vote";
        cursor: pointer;
        color: white;
        font-weight: bold;
        font-size: 18px;
      }
    }

    &:hover span {
      display: none;
    }

    span {
      color: white;
      font-size: 18px;
    }
  }

  section:nth-child(1) button {
    background: red;
    border: 2px solid white;

    &:hover {
      background: red;
    }
  }

  section:nth-child(2) button {
    background: dodgerblue;
    border: 2px solid white;

    &:hover {
      background: dodgerblue;
    }
  }
}

.confirmation-div, .vote-done-div, .winner-div{
  width: 20rem;
  height: 10rem;
  background: #10232A;
  padding: 2rem;
  flex-direction: column;
  text-align: center;
  border: 2px solid $my-green;
  position: absolute;
  z-index: 10;
  left: 32rem;
  top: 13rem;

  span:nth-child(1){
    font-size: 18px;
    display:block;
    margin-bottom: 2rem;
    color:white;
  }

  span:nth-child(2){
    text-decoration: underline;
    margin-right: 2rem;
    &:hover{
      cursor:pointer;
    }
    color: white;
    font-size: 16px;
  }

  span:nth-child(3){
    color: white;
    text-decoration: underline;
    margin-left: 2rem;
    &:hover{
      cursor:pointer;
    }
    font-size: 16px;
  }
}

.winner-div{
  width: 20rem;
  height: 13rem;
  span:nth-child(2){
    text-decoration: underline;
    &:hover{
      cursor:pointer;
    }
    color: white;
    font-size: 16px;
    margin-top: -2rem;
  }
}

.vote-done-div{
  font-size: 26px;
  span{
    margin-top:1.5rem;
  }
}