body .main-section {
  background-image: linear-gradient(rgba(0, 0, 0, .9), rgba(0, 0, 0, .6)), url("../images/e-voting.jpg");
  background-size: cover;
  width: 100%;
  text-align: center;
  padding: 3rem 8rem 6rem;
  border: 2px solid $my-green;

  & > *{
    padding: 1rem;
  }

  hr{
    padding:0;
    width: 62%;
    margin: 0 auto;
    border: 1px solid white;
    box-shadow: 1px 1px 1px #000000;

  }

  .main-title, .sub-title p {
    color: white;
    text-shadow: 1px 2px 1px #000000;
    margin-bottom:0;
  }

  & .sub-title p{
    padding-top: .75rem;
    margin-bottom: 4rem;
    i{
      font-size: 30px;
      margin-bottom: .75rem
    }
  }
}
