@import 'variables';

.countdown-timer, .start-btn-div, .calculating-result-div, .resetting-div, .vote-ended-div {
  background-color: var(--color-my-green);
  color: white;
  font-size: 20px;
  text-align: center;
  padding: .5rem;
}

.vote-ended-div {
  background-color: black;
  &:hover{
    cursor:pointer;
  }
}

.calculating-result-div {
  background-color: red;
}

.start-btn-div span {
  border: 2px solid white;
  cursor: pointer;
  padding: .75rem;

  &:hover {
    border: 2px solid var(--color-my-green);
    background-color: white;
    cursor: pointer;
    color: var(--color-my-green);
  }
}