//Tablet
@media (max-width: 1100px) {

  body .main-nav ul {
    flex-direction: column;

    li {
      margin-bottom: 1rem;
      a {
        border: none;
        text-decoration: underline;
      }
      &.current-page a, &.current-page a span{
        color: $my-green;
      }
    }

    margin: 0 auto 1rem;
    text-align: center;
  }

  body .main-section {
    padding: 1rem 3rem;

    .sub-title {
      padding-bottom: 0;
    }

    a.learn-more-btn {
      border: none;
      padding: 0;
      text-decoration: underline;
      margin-bottom: 2rem;
    }

  }
  .container-div {
    padding: 1.5rem 0 .5rem;
    display: flex;
    flex-direction: column;

    section {
      width: 90%;
      margin: 0 auto .5rem;

      &:nth-child(2) {
        width: 25%;
        margin: 0 auto .5rem;
      }
    }

  }

  .confirmation-div, .vote-done-div {
    left: 19rem;
    top: 12rem;
  }

  .winner-div {
    left: 19rem;
    top: 28rem;

    span:nth-child(1) {
      margin-bottom: 0;
    }
  }

  .candidates-list {
    width: 50%;
    margin: 2rem auto 1.5rem;
    display: flex;
    flex-direction: column;

    img {
      width: 27rem;
      height: 20rem;
    }

    .hillary-btn, .trump-btn {
      left: 3rem;
      top: 10.5rem;
    }

  }

  .form-container .icon {
    left: 12px;
    top: 44px;
  }


  .site-footer {
    margin: 1rem 0;
    padding: 2rem .5rem .5rem;

    .links {
      flex-direction: column;

      p {
        margin-bottom: 2rem;
      }
    }
  }
}

//Phone
@media (max-width: 750px) {
  body .main-section {
    padding: 1rem .5rem;
  }

  .container-div {
    section {
      &:nth-child(2) {
        width: 50%;
      }
    }

  }
  .candidates-list {
    width: 95%;
    margin: 2rem auto 1.5rem;
    display: flex;
    flex-direction: column;

    img {
      width: 24rem;
      height: 17rem;
    }
  }

  .form-container .icon {
    left: 10px;
    top: 38px;
  }

  .confirmation-div, .vote-done-div {
    left: 5rem;
    top: 12rem;
  }

  .winner-div {
    left: 6rem;
    top: 28rem;

    span:nth-child(1) {
      margin-bottom: 0;
    }
  }
}