:root {
  --color-main-bgrd: linear-gradient(to right, #2C5364, #203A43, #0F2027);
  --color-my-green: #419D78;

  --sizing-fs-base: 12px;
  --sizing-ws-base: 1.5em;
  --sizing-lt-base: 3em;

  --sizing-fs-phone: 12px;
  --sizing-fs-tablet: 14px;
  --sizing-fs-laptop: 16px;
  --sizing-fs-desktop: 18px;
  --sizing-fs-huge: 20px;

  --sizing-homepage-text-fs-phone: 20px;
  --sizing-homepage-text-fs-tablet: 32px;
  --sizing-homepage-text-fs-laptop: 44px;
  --sizing-homepage-text-fs-desktop: 48px;
  --sizing-homepage-text-fs-huge: 58px;

  --sizing-sub-title-text-fs-phone: 14px;
  --sizing-sub-title-text-fs-tablet: 18px;
  --sizing-sub-title-text-fs-laptop: 24px;
  --sizing-sub-title-text-fs-desktop: 28px;
  --sizing-sub-title-text-fs-huge: 32px;
}